    <!-- TODO: add "image" (absolute URL to a real shopfront photo) once available -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "HardwareStore",
      "name": "J.B. Traders",
      "url": "https://jbtindore.in/",
      "telephone": "+919826077521",
      "foundingDate": "1992-10-06",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "D-4, Nemi Nagar, Kesharbagh Road",
        "addressLocality": "Indore",
        "addressRegion": "Madhya Pradesh",
        "postalCode": "452009",
        "addressCountry": "IN"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 22.691302437740323,
        "longitude": 75.84403369685747
      },
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],
          "opens": "09:00",
          "closes": "19:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Sunday"],
          "opens": "09:00",
          "closes": "13:00"
        }
      ],
      "areaServed": [
        { "@type": "City", "name": "Indore" },
        { "@type": "City", "name": "Dewas" },
        { "@type": "City", "name": "Sanwer" },
        { "@type": "City", "name": "Rau" },
        { "@type": "City", "name": "Pithampur" },
        { "@type": "City", "name": "Mhow" }
      ],
      "priceRange": "₹₹",
      "currenciesAccepted": "INR",
      "paymentAccepted": "Cash, UPI, Net Banking",
      "knowsLanguage": ["hi", "en"],
      "hasOfferCatalog": {
        "@type": "OfferCatalog",
        "name": "Building Materials",
        "itemListElement": [
          { "@type": "OfferCatalog", "name": "Cement",
            "itemListElement": [
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "UltraTech Cement" } },
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "JK Super Cement" } },
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "Wonder Cement" } },
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "Nuvoco Cement" } },
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "JK Lakshmi Cement" } },
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "Mangalam Birla Uttam Cement" } }
            ]
          },
          { "@type": "OfferCatalog", "name": "Tile Adhesives",
            "itemListElement": [
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "Kerakoll Tile Adhesive" } },
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "Roff Tile Adhesive" } },
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "Tenax" } },
              { "@type": "Offer", "itemOffered": { "@type": "Product", "name": "Mapei Tile Adhesive" } }
            ]
          }
        ]
      }
    }
    </script>
